.amty-box {
    display: inline-block;
    padding:5px;
}

.amty-box img {
    height: 145px;
    width: 160px;
}

.amty {
    height: auto;
}

.counter {
    height:30px;
    text-align: center;
}

.amty-btn {
    width: 154px;
    height: 54px;
    left: 590px;
    top: 466px;

    background: #81B1D5;
    border: 1px solid rgba(213, 213, 213, 0.37);
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.button{
    background-color: blue;
    color:white;
    border-radius: 50%
    height:20px;
    width: 20px;
}

/* HEADER STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#header {
    padding: 1px 15px;
    background-color: #11C3FF;
    color: white;
  height: 65px;
  width: 100%;
}

.right-float {
    float: right;
}
.right-float button{
  margin-top: 1em;
}

#header img {
    height: 65px;
    width: 145px;
}
#header p{
  margin-top: 1em;

}
/* CONTENT STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#content {
  margin-top: 2%;
  margin-left: 17%;
  margin-right: 6.8%;
  margin-bottom: 2%;
  padding: 0;
}

/* NAVBAR STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 13%;
  background-color: #0088B6;
  position: absolute;
  height: 100%;

}

li a {
  display: block;
  color: #fff;
  padding: 22px 35px;
  text-decoration: none;
  font-weight: bold;
  border-bottom: 1px solid rgba(240, 233, 233, .5);
}

li a.active {
  background-color: #0099cc;
  color: white;
}

li a:hover:not(.active) {
  background-color: #11C3FF;
  color: white;
}
