* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
/* HEADER STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#header {
	padding: 1px 15px;
	background-color: #11C3FF;
	color: white;
  height: 65px;
  width: 100%;
}

.right-float {
    float: right;
}
.right-float button{
  margin-top: 1em;
}

#header img {
    height: 65px;
    width: 145px;
}
#header p{
  margin-top: 1em;

}
/* CONTENT STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#content {
  margin-top: 2%;
  margin-left: 17%;
  margin-right: 5%;
  margin-bottom: 2%;
  padding: 0;
}

/* NAVBAR STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 13%;
  background-color: #0088B6;
  position: absolute;
  height: 100%;

}

li a {
  display: block;
  color: #fff;
  padding: 22px 35px;
  text-decoration: none;
  font-weight: bold;
  border-bottom: 1px solid rgba(240, 233, 233, .5);
}

li a.active {
  background-color: #0099cc;
  color: white;
}

li a:hover:not(.active) {
  background-color: #11C3FF;
  color: white;
}

/* LOGIN PAGE
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.loginbody{
  background: #4d90a1;
}
.content-image  img{
  height: 250px;
  position: absolute;
  top: 170px;
  left: 100px;
}
#login-form{
  background:white;
  height: 270px;
  width:360px;
  border-radius:8px;
  margin: 0 auto 0 auto;
  margin-top: 200px;
  margin-right: 280px;
  padding: 20px;
}
.field{
  background:#ecf0f1;
    border: #ccc 1px solid;
    border-bottom: #ccc 2px solid;
    padding: 10px;
    width:290px;
    color:#AAAAAA;
    margin-top:20px;
    font-size:1em;
    border-radius:4px;  
}

.login-form h1{
  font-size:1.5em;
  text-align: center;
}
.box-head{
  background-color: #016A78;
  height: 100px;
  width: 100%;
  top: 0;
  position: fixed;
}

.box-foot{
  background-color: #016A78;
  height: 100px;
  width: 100%;
  position: fixed;
    bottom: 0;  
}


/**
.booking-form input[type=email],.booking-form input[type=text],.booking-form input[type=number]{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.booking-form input[type=email]:focus, .booking-form input[type=text]:focus,.booking-form input[type=number]:focus {
  background-color: #ddd;
  outline: none;
}
.booking-form select[name="numguest"], .booking-form select[name="roomtype"], .booking-form input[type="Date"] {
  width: 35%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.booking-form select[name="numguest"]:focus,.booking-form select[name="roomtype"]:focus, .booking-form input[type="Date"]:focus {
  background-color: #ddd;
  outline: none;
}
**/
/** DASHBOARD;
-------------------------------------------------*/
.dash-box p {
  color: whitesmoke;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  padding: 8px;
  text-align: center;
}

.dash-long-box p {
  color: whitesmoke;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  padding: 16px;
}

.center-box {
  margin-left: 500px;
}
.dashwrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2em;
  grid-auto-rows: minmax(100px, auto);
  justify-items: stretch;
  align-items: stretch;
}
.dashwrapper > div {padding: 1em;}
.box1{/**mgt-guests-in*/
  border: 1px solid rgba(213, 213, 213, 0.37);
  background: #72205A;
  grid-column: 1;
  grid-row:1/3;
}
.box1:hover{
  background-color: #B53791;
}

.box2{/*mgt-vacancies*/
  background: #C70039;
  border: 1px solid rgba(213, 213, 213, 0.37);
  grid-column: 2;
  grid-row:1/3;
}
.box2:hover{
  background-color: #F90047;
}

.box3{/*mgt-coming*/
  background: rgba(254, 194, 0, 0.85);
  border: 1px solid rgba(213, 213, 213, 0.37);
  grid-column: 3;
  grid-row: 1/3;
}
.box3:hover{
  background-color: #FFDB66;
}
.box4{/*mgt-reservation*/
  background: #C5195A;
  border: 1px solid rgba(213, 213, 213, 0.37);
  grid-column: 1;
  grid-row: 3/5;
}
.box4:hover{
  background-color: #FF2477;
}
.longbox5{
  background: #E35D40;
  grid-column: 2/4;
  grid-row: 3/5;
}
.longbox5:hover{
  background-color: #FF6645;
}

/** TABLES: RECORDS AND GUEST;
-------------------------------------------------*/
#Table {
  border-collapse: collapse;
  width: 100%;
}

#Table td, #Table th {
  border: 3px solid #fff;
  padding: 8px;
  overflow: hidden;
}

#Table tr{
  background-color: #f2f2f2;
}

#Table tr:hover {background-color: #ddd;}

#Table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #0088B6;
  color: white;
  overflow: hidden;
  width: 100px;
}


/** BUTTONS: RECORDS AND GUEST;
-------------------------------------------------*/
button{
  border: none;
  color: white;
  padding:0.4em 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin:0 0.3em 0.3em 0;
  box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
  font-weight: bold;
}
.Greenbutton {
  background-color: #00A757;
}
.Greenbutton:hover{
  background-color: #00DE73;
}

.Graybutton { 
  background-color: #94989B;
}
.Graybutton:hover{
  background-color: #B4B8BB;
  color: white;
}
.Logoutbutton {
   background-color: #CF3823;
}
.Logoutbutton:hover{
  background-color: #F2472F;
}
.Offerbutton {
  background-color: #53B7EA;
}
.Offerbutton a{
  color:white;
  text-decoration: none;
}
.Offerbutton:hover{
  background-color: #60C9FF;
}
.Extendbutton {
  background-color: #81B1D5;
}
.Extendbutton:hover{
  background-color: #9CD0F6;
}
.Checkoutbutton {
  background-color: #CF3823;
}
.Checkoutbutton:hover{
  background-color: #F2472F;
}
.Viewbutton {
  background-color: #4CAF50;
}
.Viewbutton a{
  color:white;
  text-decoration: none;
}
.Viewbutton:hover{
  background-color: #62DD67;
}
@media all and (max-width:30em){
.Offerbutton,.Extendbutton, .Checkoutbutton, .Viewbutton, .Logoutbutton:active{
  display:block;
  margin:0.4em auto;
}


/** GUEST PAGE
-------------------------------------------------*/
.search-container {
  float: left;
}
​


.search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .search-container {
    float: none;
  }

  .search-container input[type=text] {
    border: 1px solid #ccc;  
}

.searchButton{ 
        background-color: #0074D9; 
        color: #f2f2f2; 
        float: right; 
        padding: 5px 10px; 
        margin-right: 16px; 
        font-size: 12px; 
        border: none; 
        cursor: pointer; 
    }  