* {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

#header {
	padding: 1px 25px;
	background: #11C3FF;
	color: white;
}

.right-float {
    float: right;
}

div img {
    height: 75px;
    width: 160px;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 13%;
  background-color: #0088B6;
  position: fixed;
  height: 100%;
  overflow: auto;

}

li a {
  display: block;
  color: #fff;
  padding: 22px 35px;
  text-decoration: none;
  font-weight: bold;
  border-bottom: 1px solid rgba(240, 233, 233, .5);
}

li a.active {
  background-color: #0099cc;
  color: white;
}

li a:hover:not(.active) {
  background-color: #11C3FF;
  color: white;
}

#content {
  margin-top: 3%;
  margin-left: 17%;

}