* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
/* HEADER STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#header {
	padding: 1px 15px;
	background-color: #11C3FF;
	color: white;
  height: 65px;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
}

.right-float {
    float: right;
}

div img {
    height: 65px;
    width: 145px;

}

/* NAVBAR STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 13%;
  background-color: #0088B6;
  position: fixed;
  height: 100%;
  overflow: auto;

}

li a {
  display: block;
  color: #fff;
  padding: 22px 35px;
  text-decoration: none;
  font-weight: bold;
  border-bottom: 1px solid rgba(240, 233, 233, .5);
}

li a.active {
  background-color: #0099cc;
  color: white;
}

li a:hover:not(.active) {
  background-color: #11C3FF;
  color: white;
}

<<<<<<< HEAD
#content {
  margin-top: 2%;
  margin-left: 17%;
  margin-right: 8%;
}
input[type=email], input[type=text],input[type=number] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=email]:focus, input[type=text]:focus,input[type=number]:focus {
  background-color: #ddd;
  outline: none;
}
select[name="numguest"], select[name="roomtype"], input[type="Date"] {
  width: 35%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

select[name="numguest"]:focus, select[name="roomtype"]:focus, input[type="Date"]:focus {
  background-color: #ddd;
  outline: none;
}


=======
#mgt-guests-in {
  border: 1px solid rgba(213, 213, 213, 0.37);
  box-sizing: border-box;
  left: 227px;
  top: 142px;
  border-radius: 0px;
  background: #72205A;
  position: absolute;
}

#mgt-vacancies {
  position: absolute;
  left: 477px;
  top: 142px;
  background: #C70039;
  border: 1px solid rgba(213, 213, 213, 0.37);
  box-sizing: border-box;
}

#mgt-coming {
  position: absolute;
  left: 720px;
  top: 142px;
  background: rgba(254, 194, 0, 0.85);
  border: 1px solid rgba(213, 213, 213, 0.37);
  box-sizing: border-box;
}

#mgt-reservation {
  position: absolute;
  left: 227px;
  top: 331px;
  background: #C5195A;
  border: 1px solid rgba(213, 213, 213, 0.37);
  box-sizing: border-box;
}

#mgt-earnings {
  position: absolute;
  left: 477px;
  top: 331px;
  background: #E35D40;
}

.dash-box {
  height: 149px;
  width: 190px;
}

.dash-long-box {
  width: 433px;
  height: 149px;
}
>>>>>>> 7657ea3bcdf24850735fa8a5211353b41c09aeb8
